=begin
#MF KESSAI API v2

#MF KESSAI REST API

The version of the OpenAPI document: 0.2.0
Contact: support@mfkessai.co.jp
Generated by: https://openapi-generator.tech
OpenAPI Generator version: 4.1.1

=end

require 'cgi'

module OpenapiClient
  class CreditFacilityApi
    attr_accessor :api_client

    def initialize(api_client = ApiClient.default)
      @api_client = api_client
    end
    # 与信枠の一覧を取得します。顧客IDや取引登録期間開始日・終了日で絞り込んで取得することもできます。
    # 与信枠一覧取得
    # @param [Hash] opts the optional parameters
    # @option opts [String] :customer_id 顧客IDを指定します。指定された顧客の与信枠を取得します。
    # @option opts [DateTime] :start_date_from 取引登録期間開始日が指定された日時よりも後の顧客を取得します。指定された日時のものも含まれます。
    # @option opts [DateTime] :start_date_to 取引登録期間開始日が指定された日時よりも前の顧客を取得します。指定された日時のものも含まれます。
    # @option opts [DateTime] :end_date_from 取引登録期間終了日が指定された日時よりも後の顧客を取得します。指定された日時のものも含まれます。
    # @option opts [DateTime] :end_date_to 取引登録期間終了日が指定された日時よりも前の顧客を取得します。指定された日時のものも含まれます。
    # @option opts [String] :after 任意のリソースIDを指定します。追加日時の降順でこのIDのリソースよりも後のリソースを取得します。この時&#x60;after&#x60;で指定したIDのリソースは結果に含まれません。
    # @option opts [String] :before 任意のリソースIDを指定します。追加日時の降順でこのIDのリソースよりも前のリソースを取得します。この時&#x60;before&#x60;で指定したIDのリソースは結果に含まれません。
    # @option opts [Integer] :limit 取得したいリソースの最大件数を指定します。1~200の間の整数で指定してください。指定がない場合は20になります。
    # @return [InlineResponse2003]
    def get_credit_facilities_list(opts = {})
      data, _status_code, _headers = get_credit_facilities_list_with_http_info(opts)
      data
    end

    # 与信枠の一覧を取得します。顧客IDや取引登録期間開始日・終了日で絞り込んで取得することもできます。
    # 与信枠一覧取得
    # @param [Hash] opts the optional parameters
    # @option opts [String] :customer_id 顧客IDを指定します。指定された顧客の与信枠を取得します。
    # @option opts [DateTime] :start_date_from 取引登録期間開始日が指定された日時よりも後の顧客を取得します。指定された日時のものも含まれます。
    # @option opts [DateTime] :start_date_to 取引登録期間開始日が指定された日時よりも前の顧客を取得します。指定された日時のものも含まれます。
    # @option opts [DateTime] :end_date_from 取引登録期間終了日が指定された日時よりも後の顧客を取得します。指定された日時のものも含まれます。
    # @option opts [DateTime] :end_date_to 取引登録期間終了日が指定された日時よりも前の顧客を取得します。指定された日時のものも含まれます。
    # @option opts [String] :after 任意のリソースIDを指定します。追加日時の降順でこのIDのリソースよりも後のリソースを取得します。この時&#x60;after&#x60;で指定したIDのリソースは結果に含まれません。
    # @option opts [String] :before 任意のリソースIDを指定します。追加日時の降順でこのIDのリソースよりも前のリソースを取得します。この時&#x60;before&#x60;で指定したIDのリソースは結果に含まれません。
    # @option opts [Integer] :limit 取得したいリソースの最大件数を指定します。1~200の間の整数で指定してください。指定がない場合は20になります。
    # @return [Array<(InlineResponse2003, Integer, Hash)>] InlineResponse2003 data, response status code and response headers
    def get_credit_facilities_list_with_http_info(opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: CreditFacilityApi.get_credit_facilities_list ...'
      end
      if @api_client.config.client_side_validation && !opts[:'limit'].nil? && opts[:'limit'] > 200
        fail ArgumentError, 'invalid value for "opts[:"limit"]" when calling CreditFacilityApi.get_credit_facilities_list, must be smaller than or equal to 200.'
      end

      if @api_client.config.client_side_validation && !opts[:'limit'].nil? && opts[:'limit'] < 1
        fail ArgumentError, 'invalid value for "opts[:"limit"]" when calling CreditFacilityApi.get_credit_facilities_list, must be greater than or equal to 1.'
      end

      # resource path
      local_var_path = '/credit_facilities'

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'customer_id'] = opts[:'customer_id'] if !opts[:'customer_id'].nil?
      query_params[:'start_date_from'] = opts[:'start_date_from'] if !opts[:'start_date_from'].nil?
      query_params[:'start_date_to'] = opts[:'start_date_to'] if !opts[:'start_date_to'].nil?
      query_params[:'end_date_from'] = opts[:'end_date_from'] if !opts[:'end_date_from'].nil?
      query_params[:'end_date_to'] = opts[:'end_date_to'] if !opts[:'end_date_to'].nil?
      query_params[:'after'] = opts[:'after'] if !opts[:'after'].nil?
      query_params[:'before'] = opts[:'before'] if !opts[:'before'].nil?
      query_params[:'limit'] = opts[:'limit'] if !opts[:'limit'].nil?

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json'])

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:body] 

      # return_type
      return_type = opts[:return_type] || 'InlineResponse2003' 

      # auth_names
      auth_names = opts[:auth_names] || ['apikey']

      new_options = opts.merge(
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: CreditFacilityApi#get_credit_facilities_list\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # 与信枠IDを指定して対象与信枠１件を取得することができます。
    # 与信枠取得
    # @param credit_facility_id [String] 対象の与信枠IDを指定してください。
    # @param [Hash] opts the optional parameters
    # @return [CreditFacility]
    def get_credit_facility(credit_facility_id, opts = {})
      data, _status_code, _headers = get_credit_facility_with_http_info(credit_facility_id, opts)
      data
    end

    # 与信枠IDを指定して対象与信枠１件を取得することができます。
    # 与信枠取得
    # @param credit_facility_id [String] 対象の与信枠IDを指定してください。
    # @param [Hash] opts the optional parameters
    # @return [Array<(CreditFacility, Integer, Hash)>] CreditFacility data, response status code and response headers
    def get_credit_facility_with_http_info(credit_facility_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: CreditFacilityApi.get_credit_facility ...'
      end
      # verify the required parameter 'credit_facility_id' is set
      if @api_client.config.client_side_validation && credit_facility_id.nil?
        fail ArgumentError, "Missing the required parameter 'credit_facility_id' when calling CreditFacilityApi.get_credit_facility"
      end
      # resource path
      local_var_path = '/credit_facilities/{credit_facility_id}'.sub('{' + 'credit_facility_id' + '}', CGI.escape(credit_facility_id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json'])

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:body] 

      # return_type
      return_type = opts[:return_type] || 'CreditFacility' 

      # auth_names
      auth_names = opts[:auth_names] || ['apikey']

      new_options = opts.merge(
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: CreditFacilityApi#get_credit_facility\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end
  end
end
